<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PET VACCINATION API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div class="container">

<center><h1  style="color:blue;"> PET VACCINATION API</h1></center>
<hr>
<div class="row">
<div class="col-sm-6">
    <h3 > User Register</h3>
    <form action="/api/register" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" >Email:</label>
        <div class="col-sm-9">
            <input type="email" name="email" placeholder="Enter email" value="" required="">
        </div>

        <label class="control-label col-sm-3" >User_name:</label>
        <div class="col-sm-9">
            <input type="text" name="name" placeholder="Enter name" value="" required="">
        </div>

        <label class="control-label col-sm-3" >Password:</label>
        <div class="col-sm-9">
            <input type="password" name="password" value="" placeholder="Enter password" required="">
        </div>

        <label class="control-label col-sm-3" >Security_Answer:</label>
        <div class="col-sm-9">
            <input type="text" name="answer" value="" placeholder="Enter security answer" required="">
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>

<div class="col-sm-6">
    <h3> User Login</h3>
    <form action="/api/login" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3">Email:</label>
        <div class="col-sm-9">
            <input type="email" name="email" placeholder="Enter email" value="" required="">
        </div>

        <label class="control-label col-sm-3" >Password:</label>
        <div class="col-sm-9">
            <input type="password" name="password" value="" placeholder="Enter password" required="">
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>
</div>
    <hr>



<div class="row">
<div class="col-sm-6">
    <h3> User Logout</h3>
    <form action="/api/logout">
        <div class="form-group">

            <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
        </div>
    </form>
</div>

<div class="col-sm-6">
    <h3 > User Session</h3>
    <form action="/api/whoami">
    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>
</div>
<hr>

<div class="row">
<div class="col-sm-6">
    <h3> Change Password</h3>
    <form action="/api/reset_password" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" >User_name:</label>
        <div class="col-sm-9">
            <input type="text" name="name" placeholder="Enter name" value="" required="">
        </div>

        <label class="control-label col-sm-3" >Email:</label>
        <div class="col-sm-9">
            <input type="email" name="email" placeholder="Enter email" value="" required="">
        </div>



        <label class="control-label col-sm-3">Password:</label>
        <div class="col-sm-9">
            <input type="password" name="password" value="" placeholder="Enter new password" required="">
        </div>

        <label class="control-label col-sm-3">Security_Answer:</label>
        <div class="col-sm-9">
            <input type="text" name="answer" value="" placeholder="Enter security answer" required="">
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>


<div class="col-sm-6">
    <h3> Set pet Information</h3>
    <form action="/api/set_pet_info" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" >Email:</label>
        <div class="col-sm-9">
            <input type="email" name="email" placeholder="Enter email" value="" required="">
        </div>

        <label class="control-label col-sm-3" >Pet_Name:</label>
        <div class="col-sm-9">
            <input type="text" name="name" placeholder="Enter pet name" value="" required="">
        </div>

        <label class="control-label col-sm-3" >Pet_Breed:</label>
        <div class="col-sm-9">
            <input type="text" name="breed" placeholder="Enter pet breed" value="" required="">
        </div>


        <label class="control-label col-sm-3" >Pet_Age:</label>
        <div class="col-sm-9">
            <input type="text" name="age" placeholder="Enter pet Age" value="" required="">
        </div>



        <label class="control-label col-sm-3">Pet_Gender:</label>
        <div class="col-sm-9">
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female<br>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>
</div>
    <hr>

<div class="row">
<div class="col-sm-6">
    <h3> Set Vaccination information</h3>
    <form action="/api/set_vaccination" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" >Name:</label>
        <div class="col-sm-9">
            <input type="text" name="name" placeholder="Enter name" value="" required="">
        </div>
        <label class="control-label col-sm-3" >Date:</label>
        <div class="col-sm-9">
            <input type="date" name="date"  value="" required="">
        </div>
        <label class="control-label col-sm-3">Notes:</label>
        <div class="col-sm-9">
            <input type="text" name="notes" value="" placeholder="Enter Text" required="">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
</div>

<div class="col-sm-6">
    <h3> Get pet Vaccination</h3>
    <form action="/api/get_vaccination">
    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
<hr>
</div>


</div>
    <hr>









<div class="row">
<div class="col-sm-6">
    <h3> Get pet Information</h3>
    <form action="/api/get_pet_info">
    <div class="form-group">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
                <a href="#" class="btn btn-default" role="button">Link</a>
            </div>
        </div>
    </div>
</form>
<hr>
</div>
</div>
    <hr>

</div>
</body>
</html>
