<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center><title>PET VACCINATION API</title>
</head>
<body>
<h1  style="color:blue;"> PET VACCINATION API</h1>
<hr>

<h3 > User Register</h3>
<form action="/api/register" method="post">
    <table>
        <tr>
            <td>Email :</td><td><input type="email" name="email" value="" required=""></td>
        </tr>
           <tr>
            <td>User_name :</td><td><input type="text" name="name" value="" required=""></td>
        </tr>
           <tr>
            <td>Password :</td><td><input type="password" name="password" value="" required=""></td>
        </tr>
           <tr>
            <td>S.A :</td><td><input type="text" name="answer" value="" required=""></td>
        </tr>
        </tr>
           <tr>
            <td></td><td><input type="submit"  value="Submit" ></td>
        </tr>

    </table>
</form>
<hr>



<h3> User Login</h3>
<form action="/api/login" method="post">
    <table>
        <tr>
            <td>Email :</td><td><input type="email" name="email" value="" required=""></td>
        </tr>

        <tr>
            <td>Password :</td><td><input type="password" name="password" value="" required=""></td>
        </tr>

        </tr>
           <tr>
            <td></td><td><input type="submit"  value="Submit" ></td>
        </tr>

    </table>
</form>
<hr>

<h3> User Logout</h3>
<form action="/api/logout">
    <table>

            <input type="submit"  value="Submit" >


    </table>
</form>
<hr>


<h3 > User Session</h3>
<form action="/api/whoami">
    <table>
           <input type="submit"  value="Submit" >
    </table>
</form>
<hr>

<h3> Change Password</h3>
<form action="/api/reset_password" method="post">
    <table>
        <tr>
            <td>User_name :</td><td><input type="text" name="name" value="" required=""></td>
        </tr>
        <tr>
            <td>Email :</td><td><input type="email" name="email" value="" required=""></td>
        </tr>
        <tr>
            <td>Security Answer :</td><td><input type="text" name="answer" value="" required=""></td>
        </tr>
        <tr>
            <td>New Password :</td><td><input type="password" name="password" value="" required=""></td>
        </tr>

        </tr>
           <tr>
            <td></td><td><input type="submit"  value="Submit" ></td>
        </tr>

    </table>
</form>
<hr>


<h3> Set pet Information</h3>
<form action="/api/set_pet_info" method="post">
    <table>

        <tr>
            <td>User Email :</td><td><input type="email" name="email" value="" required=""></td>
        </tr>
        <tr>
            <td>Pet Name :</td><td><input type="text" name="name" value="" required=""></td>
        </tr>
        <tr>
            <td>Pet Breed :</td><td><input type="text" name="breed" value="" required=""></td>
        </tr>
        <tr>
            <td>Pet Age :</td><td><input type="text" name="age" value="" required=""></td>
        </tr>


        <tr>
            <td>Pet Gender :</td><td><input type="radio" name="gender" value="male" checked> Male
                              <input type="radio" name="gender" value="female"> Female<br></td>

        </tr>
        <tr>
            <td></td><td><input type="submit"  value="Submit" ></td>
        </tr>

    </table>
</form>
<hr>
<h3> Get pet Information</h3>
<form action="/api/get_pet_info">
    <table>
           <input type="submit"  value="Submit" >
    </table>
</form>
<hr>

</center>
</body>
</html>
